.box {
  width: 500px;
  padding: 10px;
  border: 1px solid black;
}

.box a {
  text-decoration: none;
}

.box p {
  color: red;
}

.box div {
  width: 180px;
  height: 50px;
  background-color: grey;
}

.box div:hover {
  background-color: yellow;
  transition: 0.8s;
}

.box div p:hover {
  transform: scale(0.7);
  transition: 0.8s;
}

.box ul li:nth-child(1) {
  font-size: 20px;
}

.box ul li:nth-child(2) {
  font-size: 30px;
}

.box ul li:nth-child(3) {
  font-size: 40px;
}

html,
body {
  height: 100%;
}